@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-verde-it: #1bb9aa;

  --animate-fade-in: fadeIn 1s ease-out forwards;
  --animate-slide-up: slideUp 0.8s ease-out forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-slide-up {
  opacity: 0;
  /* Start hidden */
  animation: slideUp 0.8s ease-out forwards;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

.delay-300 {
  animation-delay: 300ms;
}